*{
	padding: 0px;
	margin: 0px;
}
.navbar{
	height: 140px;
}

.navbar-right{
	padding-top: 95px;
	font-size: 30px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}